<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" 
		xmlns:android="http://schemas.android.com/apk/res/android" 
		id="cordova-plugin-scrypto" 
		version="0.1.11">
			
	<name>cordova-plugin-scrypto</name>
	<description>Get a SecretToken</description>
	<author>Moon Suhan</author>
	<license>MIT (see readme.md)</license>
	<keywords></keywords>
	<engines><engine name="cordova" version=">=3.0.0" /></engines>
	
	<js-module src="www/scrypto.js" name="SCrypto">
		<clobbers target="cordova.SCrypto" />
	</js-module>
	
	<platform name="android">
		<config-file target="res/xml/config.xml" parent="/*">
			<feature name="AppVersion">
				<param name="android-package" value="net.xdefine.scrypto.SCrypto"/>
			</feature>
		</config-file>
		<source-file src="src/android/SCrypto.java" target-dir="src/net/xdefine/scrypto" />
		<source-file src="src/android/SecurityHelper.java" target-dir="src/net/xdefine/scrypto" />
		<source-file src="src/android/cpp/sha1.h" target-dir="cpp/scrypto" />
		<source-file src="src/android/cpp/encrypt_token.cpp" target-dir="cpp/scrypto" />
		<source-file src="src/android/cpp/sha1.cpp" target-dir="cpp/scrypto" />
		<source-file src="src/android/cpp/md5.h" target-dir="cpp/scrypto" />
		<source-file src="src/android/cpp/md5.cpp" target-dir="cpp/scrypto" />
		<source-file src="src/android/cpp/CMakeLists.txt" target-dir="cpp/scrypto" />
		
		<framework src="src/android/build.gradle" custom="true" type="gradleReference" />
		
	</platform>
</plugin>